* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: gn-bold;
    src: url(../assets/fonts/gn-bold.woff2);
  }

  @font-face {
    font-family: mn-medium;
    src: url(../assets/fonts/mn-medium.woff2);
  }

  @font-face {
    font-family: mn-light;
    src: url(../assets/fonts/mn-light.woff2);
  }

  @font-face {
    font-family: mn-bold;
    src: url(../assets/fonts/mn-bold.woff2);
  }

  @font-face {
    font-family: gn-medium;
    src: url(../assets/fonts/gn-medium.woff2);
  }

  @font-face {
    font-family: mn-mono-reg;
    src: url(../assets/fonts/mn-mono-reg.woff2);
  }


body {
    position: relative;
    /* background: #FBF55E; */
    color: #000;
}

.toggle{
    display: none;
}

.sectionAText.active {
    color: rgba(251, 245, 94, 1);
}

.hmbrgOverLay {
    display: none;
}

.menu-btn {
    display: none;
}


li {
    list-style: none;
}


a {
    color: #fff;
    text-decoration: none;
}

.faqContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
    padding: 6rem 0rem;
    overflow: hidden;

}

.faqContainer::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 92%;
    transform: translate(-50%, -50%);
    width: 100%;
    background: #FBF55E;
    -webkit-backdrop-filter: blur(180px);
    filter: blur(180px);
    z-index: -10;
}

.stickySides {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.topNav {
    width: 100%;
    display: flex;
    align-items: center;

    z-index: 1000;
    
}

.topFix {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-inline: auto;
    z-index: 99;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}



.btnTickets {
    padding: 2.1rem 1rem 2.1rem 1rem; 
    background: #000;
    color: #fff;
    border-radius: 50%;
    text-transform: uppercase;

    cursor: pointer;
    transition: all 0.3s ease;
}

.btnTickets:hover {
    opacity: .8;
}

.bottomEarlyBird {
    display: none;
}

.faqTitle {
    max-width: 70%;
    text-align: center;
}

.faqTitle h1 {
    font-family: gn-bold;
    font-size: 4.4rem;
    line-height: 86%;
    text-transform: uppercase;
    color: #181A23;
}

/* accordion */


.accordionWrapper {
    max-width: 56%;
    color: #fff;
    
}


.accordionContent {
    position: relative;
    margin: 20px 20px;
    padding-inline: 1rem;
    background: #000;
    border-radius: .4rem;


}

.accordionContent .label {
    position: relative;
    padding: 1.2rem 1.2rem 1.2rem 1.2rem;
    color: #fff;
    font-family: mn-medium;
    font-size: 1.4rem;
    cursor: pointer;
}

.label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.plus {
    z-index: 10;
}

.label .plus {
    position: relative;
    background-color: #D052E7;
    border-radius: 50%;
    height: 2.4rem;
    width: 2.4rem;
    font-size: 1.6em;

    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: .2rem;

}

.accordionContent .content p {
    font-family: mn-mono-reg;
    font-size: 1rem;
    line-height: 130%;
}


.accordionContent .content {
    position: relative;
    border-top: 1px #555 solid;
    /* padding: .63rem;   */
    height: 0;
    overflow: hidden;
    transition: .2s all ease;
    overflow-y: hidden;
}

.plus::before {
    content: '';
    position: absolute;
    height: 0px;
    width: 1rem;
    border: 1px #fff solid;
    transition: all .5s ease;
}

.plus::after {
    content: '';
    position: absolute;
    transform: rotate(90deg);
    height: 0px;
    width: 1rem;
    border: 1px #fff solid;
    transition: all .5s ease;
}


/* activeState */

.accordionWrapper .accordionContent.active .content {
    height: auto;
    padding: 2rem .6rem;
}

.accordionWrapper .accordionContent.active .plus::after {
    transform: rotate(360deg);
}

.accordionWrapper .accordionContent.active .plus::before {
    transform: rotate(360deg);
}



/* footer */
.footer {
    position: relative;
    background: #8C1DF7;
    display: flex;
    /* align-items: flex-end; */
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 3rem 2rem 5.2rem 2rem;
}

.gradical {
    /* border: 1px yellow solid; */
    padding-top: 3rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.gradical li {
    font-size: .9rem;
}

.footerContainer {
    /* border: 1px red solid; */
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-between;
}

.footerLinksContainer {
    display: flex;
    font-size: 1rem;
    /* align-items: center; */
    justify-content: center;
    /* border: 1px black solid; */
}

.footerLogo {
    /* border: 1px red solid; */
    height: 10rem;
    width: 10rem;
    object-fit: cover;
}

.footerLogo img {
    height: 100%;
    width: 100%;
}

.footerLink {
    padding-top: .8rem;
    /* padding-right: 2rem; */
    text-transform: uppercase;
    font-family: mn-mono-reg;
    /* border: 1px red solid; */
    color: #fff;
}



.footerLink a{
    text-transform: uppercase;
    font-family: mn-mono-reg;
}

.Links {
    padding-right: 3rem;
    /* border: 1px red solid; */
}

/* .Links._A {
    display: flex;
} */

.Links._A{
    display: flex;
    flex-direction: row;
    /* border: 1px red solid; */
}

.ul_B {
    padding-top: 2rem;
    padding-left: .3rem;
}

.Links h3 {
    font-family: gn-bold;
    font-size: 1.4rem;
    letter-spacing: -6.5%;
    line-height: 87%;
    color: #fff;

    padding-bottom: .8rem;
    /* border: 1px red solid; */
}


@media(max-width: 1200px) {
    .faqTitle h1{
        font-size: 2.8rem;
    }

    .faqContainer {
        padding: 8rem 0rem;
        gap: 3rem;
    }

    .accordionWrapper {
        max-width: 70%;
    }

    .accordionContent .label {
        font-size: 20rem;
    }


    .label .plus {
        height: 3rem;
        width: 3rem;
        padding-top: .2rem;
    }

    .accordionContent .label p {
        font-size: 1.1rem;
        width: 80%;
    }

    .accordionContent .content p {
        font-size: 1rem;
    }
}


@media(max-width: 1000px) {
    .sideStickyL{
        display: none;
    }
    .sideStickyR{
        display: none;
    }

      /* footer */
.footer {
    position: relative;
    background: #8C1DF7;
    display: flex;
    /* align-items: flex-end; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem 10.4rem 3rem;
}

.gradical {
    padding-top: 3rem;
    padding-right: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gradical li {
    font-size: .8rem;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-between;
}

.footerLinksContainer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    font-size: 1rem;
    /* align-items: center; */
}

.footerLogo {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    padding-bottom: 3rem;
}

.footerLogo img {
    height: 100%;
    width: 100%;
}

.footerLink {
    padding-top: .8rem;
    text-transform: uppercase;
    font-family: mn-mono-reg;
    color: #fff;
    font-size: .8rem
}



.footerLink a{
    text-transform: uppercase;
    font-family: mn-mono-reg;
}

.Links {
    padding: 0 1.5rem;
}

.Links._A{
    display: flex;
    flex-direction: row;
}

.ul_B {
    padding-top: 2rem;
    padding-left: .3rem;
}

.Links h3 {
    font-family: gn-bold;
    font-size: 1.2rem;
    letter-spacing: -6.5%;
    line-height: 87%;
    color: #fff;

    padding-bottom: .8rem;
}

}



@media(max-width: 750px) {
    .faqContainer {
        padding: 8rem 0rem;
        gap: 2rem;
    }

    .faqTitle {
        max-width: 100%;
    }

    .faqTitle h1{
        font-size: 1.8rem;
    }

    .accordionWrapper {
        max-width: 100%;
    }

    .accordionContent .label {
        font-size: 20rem;
    }


    .label .plus {
        height: 2rem;
        width: 2rem;
        padding-top: .2rem;
    }

    .accordionContent .label p {
        font-size: 1rem;
        width: 80%;
    }

    .accordionContent .content p {
        font-size: .8rem;
    }

    .topNav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* border: 1px red solid; */
    }
    
    .topFix {
        /* border: 1px red solid; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .btnTickets {
        display: none;
    }
    
    .bottomEarlyBird {
        cursor: pointer;
        display: inline-block;
        background: none;
        border: none;
        font-family: gn-medium;
        font-size: 1.2rem;
        text-transform: uppercase;
        color: #fff;
    }
    
    .bottomTicket {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 0;
        /* height: 3rem; */
        padding: 1.6rem;
        border-top-right-radius: 2rem;
        border-top-left-radius: 2rem;
        -webkit-box-shadow: 0px -9px 64px 12px rgba(255,130,255,.6);
        -moz-box-shadow: 0px -9px 64px 12px rgba(255,130,255,.6);
        box-shadow: 0px -9px 64px 12px rgba(255,130,255,.6);
        background: #000;
        width: 100%;
        z-index: 1000;
        /* border: 1px red solid */
    }

       /* footer */
.footer {
    position: relative;
    background: #8C1DF7;
    display: flex;
    /* align-items: flex-end; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem 10.4rem 3rem;
}

.gradical {
    padding-top: 3rem;
    padding-right: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gradical li {
    font-size: .8rem;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-between;
}

.footerLinksContainer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    font-size: 1rem;
    /* align-items: center; */
}

.footerLogo {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    padding-bottom: 3rem;
}

.footerLogo img {
    height: 100%;
    width: 100%;
}

.footerLink {
    padding-top: .8rem;
    text-transform: uppercase;
    font-family: mn-mono-reg;
    color: #fff;
    font-size: .8rem
}



.footerLink a{
    text-transform: uppercase;
    font-family: mn-mono-reg;
}

.Links {
    padding: 0rem;
}

.Links._A{
    display: flex;
    flex-direction: row;
}

.ul_B {
    padding-top: 2rem;
    padding-left: .3rem;
}

.Links h3 {
    font-family: gn-bold;
    font-size: 1.2rem;
    letter-spacing: -6.5%;
    line-height: 87%;
    color: #fff;

    padding-bottom: .8rem;
}

}



/* mediaQuery */
@media(max-width: 450px){

    .topNav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* border: 1px red solid; */
    }
    
    .topFix {
        /* border: 1px red solid; */
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .logo  img{
        width: 15rem;
    }

    .toggle {
        display: block;
        z-index: 20000000;
        position: fixed;
        right: 2.6%;
        top: .8%;
        cursor: pointer;
        width: 56px;
        height: 56px;
        opacity: 0;
    }

    
    

    .menu-btn {
        cursor: pointer;
        /* display: block; */
        background: #000;
        height: 4rem;
        width: 4rem;
        z-index: 200000;
        position: fixed;
        top: .2%;
        right: 2%;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .8s ease;
    }

    

    .hmbrg {
        content: '';
        background: #fff;
        height: 3px;
        width: 26px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .2s ease;
    }

    .hmbrg::before {
        content: '';
        background: #fff;
        position: absolute;
        height: 3px;
        width: 100%;
        top: 7px;
    }

    .hmbrg::after {
        content: '';
        background: #fff;
        position: absolute;
        height: 3px;
        width: 100%;
        top: -7px;
    }

    .toggle:checked + .menu-btn > div {
        transform: rotate(130deg);
    }

    .toggle:checked + .menu-btn > div::before,
    .toggle:checked + .menu-btn > div::after {
        top: 0;
        transform: rotate(102deg);
    }


    .hmbrgOverLay {
        /* display: none; */
        position: absolute;
        z-index: 20000;
        /* top: 50%;
        left: 50%; */
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.96);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* transition: all .5s ease; */
        border-radius: 50%;
        scale: 0;
        opacity: 0;
        /* transition: all .3s ease-in-out; */
    }

    .hmbrgOverLay.reveal {
        position: fixed;
        z-index: 20000;
        /* top: 50%;
        left: 50%; */
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.96);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all .3s ease;
        border-radius: 0;
        scale: 1;
        opacity: 1;
    }

    .hmbrgOverLayContainer {
        width: 90%;
        height: auto;
        margin-top: 4rem;
    }
    
    .sectionA {
        border-bottom: 1px rgba(105, 105, 105, 1) solid;
    }

    .sectionAText {
        font-family: gn-bold;
        font-size: 1.2rem;
        padding: 1rem .6rem;
    }

    .hmbrgOverLayText {
        font-family: mn-medium;
        font-size: 1.4rem;
        text-transform: uppercase;
        padding: .6rem 0;
    }

    .hmbrgOverLaySubText {
        font-family: mn-mono-reg; 
        font-size: .9rem;
        text-transform: uppercase;
        width: 100%;
    }

    .hmbrgOverLaySubTextLink {
        padding: .6rem 0;
    }

    .sectionB {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        height: auto;
    }

    .faqContainer {
        padding: 8rem 0rem;
        gap: 2rem;
    }

    .faqTitle {
        max-width: 100%;
    }

    .faqTitle h1{
        font-size: 1.8rem;
    }

    .accordionWrapper {
        max-width: 100%;
    }

    .accordionContent .label {
        font-size: 20rem;
    }


    .label .plus {
        height: 2rem;
        width: 2rem;
        padding-top: .2rem;
    }

    .accordionContent .label p {
        font-size: 1rem;
        width: 80%;
    }

    .accordionContent .content p {
        font-size: .8rem;
    }

   /* NewFooter */
   .footer {
    position: relative;
    background: #8C1DF7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 1rem 10rem 1rem;
}

.gradical {
    align-items: flex-start;
    padding-top: 0;
    padding-right: 2.8rem;
}

.gradical li {
    font-size: .62rem;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-between;
}

.footerLinksContainer {
    font-size: 1rem;
    
    padding-left: 1.6rem;
    padding-top: 1rem;
    padding-bottom: 2rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.footerLink {
    padding-top: .4rem;
    /* border: 1px red solid; */
    text-transform: uppercase;
    font-family: mn-mono-reg;
    font-size: .8rem;
    padding-right: 1rem;
}


.footerLogo {
    /* border: 1px green solid; */
    height: 10rem;
    width: 8rem;
    padding-bottom: 1rem;
}

.footerLink a{ 
    /* comehere */
    text-transform: uppercase;
    font-family: mn-mono-reg;
}


.Links._A{
    display: flex;
    flex-direction: column;
    padding-right: 4rem;
    /* border: 1px red solid; */
}

.ul_B {
    padding-top: 0rem;
    padding-left: 0rem;
}

.Links h3 {
    font-family: gn-bold;
    font-size: 1rem;
    letter-spacing: -6.5%;
    line-height: 87%;
    color: #fff;

    padding-bottom: .3rem;
    padding-left: .15rem;
    /* border: 1px red solid; */
}

.Links {
    padding: 1rem 0;
    padding-right: 1rem;
}
/* ---- */

.sideStickyR {
    display: none;
}

.sideStickyL {
   display: none;
}

.topNav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px red solid; */
}

.topFix {
    /* border: 1px red solid; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.btnTickets {
    display: none;
}

.bottomEarlyBird {
    cursor: pointer;
    display: inline-block;
    background: none;
    border: none;
    font-family: gn-medium;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #fff;
}

.bottomTicket {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    /* height: 3rem; */
    padding: 1.6rem;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    -webkit-box-shadow: 0px -9px 64px 12px rgba(255,130,255,.6);
    -moz-box-shadow: 0px -9px 64px 12px rgba(255,130,255,.6);
    box-shadow: 0px -9px 64px 12px rgba(255,130,255,.6);
    background: #000;
    width: 100%;
    z-index: 1000;
    /* border: 1px red solid */
}
}

@media(max-width: 381px) {
    .gradical {
        width: 100%;
        padding-left: 2rem;
    }
}

@media(max-width: 360px) {
    .faqTitle h1 {
        font-size: 1.4rem;
    }

    .gradical {
        padding-left: 1rem;
    }
}